# Atividade 1 - Filtrar e Ordenar Dados

Realizar as atividades abaixo, colocar o notebook em um projeto no Github público e enviar o link para: pablo.bizzi@gmail.com

### Importar biblioteca

In [238]:
import pandas as pd
import numpy as np

### Importar arquivo `chipotle.csv`

In [239]:
df = pd.read_csv('sample_data/chipotle.csv', delimiter=',')
df.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

### Quantos produtos custam mais de $ 10,00?

In [240]:
# limpa a coluna item_price e a transforma em float
def limpar(valor):
  return float(valor.replace('$',''))
  
# reatribui a coluna com os preços limpos
df['item_price'] = df['item_price'].apply(limpar)

In [241]:
# aplicar os filtros
df2 = df[(df['item_price']>10.00) & (df['quantity']==1)]
df2.head(2)

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75

In [242]:
print(f'{df2.shape[0]} produtos, custam mais que 10,00 R$. ')

997 produtos, custam mais que 10,00 R$.

### Qual é o preço de cada item?
###### imprima um data frame com apenas duas colunas item_name e item_price

In [243]:
# exclui as duplicatas em item_name e quantidade
dft = df.drop_duplicates(['item_name','quantity'])

# seleciona apenas os produtos com quantidade igual a 1
dft = dft[dft['quantity'] ==1]

# seleciona apenas as colunas item_name e item_price // # ordena os valores do mais caro para o mais barato

dft = dft[dft['quantity'] ==1][['item_name','item_price']].sort_values('item_price',ascending=False)
dft.head()

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75

### Ordenar pelo nome do item

In [244]:
dft.sort_values('item_name',ascending=False).head()

                item_name  item_price
738     Veggie Soft Tacos       11.25
186     Veggie Salad Bowl       11.25
1694         Veggie Salad        8.49
1653  Veggie Crispy Tacos        8.49
57         Veggie Burrito       11.25

### Qual foi a quantidade do item mais caro encomendado?

In [245]:
dfq = df.sort_values('item_price',ascending=False)
dfq.head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

In [246]:
dfq.iloc[0,1]

15

### Quantas vezes foi pedido um `Veggie Salad Bowl`?

In [247]:
veggie = df['item_name'] == 'Veggie Salad Bowl'
veggie.sum()

18

### Quantas vezes alguém pediu mais de um refrigerante em lata?

In [248]:
filtro1 = df['quantity'] >1
filtro2 = df['item_name'] =='Canned Soda'
refri = df[filtro2 & filtro1]
print(f'{refri.shape[0]} vezes foram pedidos mais de um refrigerante em lata.')

20 vezes foram pedidos mais de um refrigerante em lata.